In [1]:
import json
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [2]:
# import fitbit download json file
df = pd.read_json (r'C:\Users\spice\Documents\Fitbit\AndrewJamieson\Physical Activity\heart_rate-2020-12-10.json')
df.head()

             dateTime                         value
0 2020-12-10 08:00:01  {'bpm': 65, 'confidence': 3}
1 2020-12-10 08:00:06  {'bpm': 63, 'confidence': 3}
2 2020-12-10 08:00:16  {'bpm': 64, 'confidence': 3}
3 2020-12-10 08:00:21  {'bpm': 68, 'confidence': 3}
4 2020-12-10 08:00:26  {'bpm': 73, 'confidence': 3}

In [3]:
# new dataframe with value split into columns
df2 = pd.concat([df.drop(['value'], axis=1), df['value'].apply(pd.Series)], axis=1)

In [4]:
# adjust timezone from UTC to PST (note standard time only, need to change for daylight saving)
df2['PST'] = df2.dateTime + timedelta(hours = -8)

In [5]:
# split out day, hours, mins, secs
df2['date'] = df2.PST.dt.date
df2['hours'] = df2.PST.dt.hour
df2['minutes'] = df2.PST.dt.minute
df2['seconds'] = df2.PST.dt.second

In [6]:
df2.head()

,dateTime,bpm,confidence,PST,date,hours,minutes,seconds
0,2020-12-10 08:00:01,65,3,2020-12-10 00:00:01,2020-12-10,0,0,1
1,2020-12-10 08:00:06,63,3,2020-12-10 00:00:06,2020-12-10,0,0,6
2,2020-12-10 08:00:16,64,3,2020-12-10 00:00:16,2020-12-10,0,0,16
3,2020-12-10 08:00:21,68,3,2020-12-10 00:00:21,2020-12-10,0,0,21
4,2020-12-10 08:00:26,73,3,2020-12-10 00:00:26,2020-12-10,0,0,26

In [7]:
# find maximum heartrate, idx for index, double brackets to return result as a row vs series
print(f'Maximum heartrate is {df2.bpm.max()}')
max_idx = df2.bpm.idxmax()
df2.iloc[[max_idx]]

Maximum heartrate is 200

,dateTime,bpm,confidence,PST,date,hours,minutes,seconds
7420,2020-12-11 00:46:21,200,1,2020-12-10 16:46:21,2020-12-10,16,46,21

In [8]:
df2.bpm.mean()

67.35415282392026

In [9]:
print(f'Minimum heartrate is {df2.bpm.min()}')
min_idx = df2.bpm.idxmin()
df2.iloc[[min_idx]]

Minimum heartrate is 47

,dateTime,bpm,confidence,PST,date,hours,minutes,seconds
4494,2020-12-10 17:11:02,47,3,2020-12-10 09:11:02,2020-12-10,9,11,2

In [10]:
age = 40
max_hr_basic = 220 - age
max_hr_tanaka = 208 - 0.7 * age

print(max_hr_basic)
print(max_hr_tanaka)
# Note: However, these measures are over simplistic 
# Less accurate for both younger and older people, 
# Does not consider variables specific to you / your genetics.

180
180.0

### Create Dataframe over Max Heart Rate

In [11]:
# new df where heart rate is greater than max hr
df3 = df2.loc[df2['bpm'] > max_hr_basic]

In [12]:
# make new column from df2 index
df3 = df3.assign(original_index = df3.index)

In [13]:
# reset index to avoid copy warning
df3 = df3.reset_index(drop=True)

In [14]:
# group consecutive time stamps together, start by measuring the difference between each index
# want consecutive rows to measure total time above max heart rate
df3['change'] = (df3['original_index'] - df3['original_index'].shift(1) )

In [15]:
# loop through df. If change increment is not 1, start a new group
result = []
grp = 0
for value in df3["change"]: 
    if value != 1.0: 
        grp += 1
        result.append(grp) 
    else: 
        result.append(grp) 
       
df3["group2"] = result

In [16]:
# dataframe with all measurements above max heart rate
df3

,dateTime,bpm,confidence,PST,date,hours,minutes,seconds,original_index,change,group2
0,2020-12-11 00:44:16,181,1,2020-12-10 16:44:16,2020-12-10,16,44,16,7397,NaN,1
1,2020-12-11 00:44:21,193,1,2020-12-10 16:44:21,2020-12-10,16,44,21,7398,1.0,1
2,2020-12-11 00:44:26,192,1,2020-12-10 16:44:26,2020-12-10,16,44,26,7399,1.0,1
3,2020-12-11 00:44:41,191,0,2020-12-10 16:44:41,2020-12-10,16,44,41,7400,1.0,1
4,2020-12-11 00:44:46,189,0,2020-12-10 16:44:46,2020-12-10,16,44,46,7401,1.0,1
5,2020-12-11 00:44:51,184,0,2020-12-10 16:44:51,2020-12-10,16,44,51,7402,1.0,1
6,2020-12-11 00:46:06,186,0,2020-12-10 16:46:06,2020-12-10,16,46,6,7417,15.0,2
7,2020-12-11 00:46:11,191,0,2020-12-10 16:46:11,2020-12-10,16,46,11,7418,1.0,2
8,2020-12-11 00:46:16,195,1,2020-12-10 16:46:16,2020-12-10,16,46,16,7419,1.0,2
9,2020-12-11 00:46:21,200,1,2020-12-10 16:46:21,2020-12-10,16,46,21,7420,1.0,2
10,2020-12-11 00:46:26,199,1,2020-12-10 16:46:26,2020-12-10,16,46,26,7421,1.0,2
11,2020-12-11 00:46:31,197,1,2020-12-10 16:46:31,2020-12-10,16,46,31,7422,1.0,2
12,2020-12-11 00:46:36,195,1,2020-12-10 16:46:36,2020-12-10,16,46,36,7423,1.0,2
13,2020-12-11 00:46:41,193,1,2020-12-10 16:46:41,2020-12-10,16,46,41,7424,1.0,2
14,2020-12-11 00:46:46,185,1,2020-12-10 16:46:46,2020-12-10,16,46,46,7425,1.0,2
15,2020-12-11 00:48:47,184,1,2020-12-10 16:48:47,2020-12-10,16,48,47,7447,22.0,3
16,2020-12-11 00:48:52,183,1,2020-12-10 16:48:52,2020-12-10,16,48,52,7448,1.0,3

#### Start and Finish time above max heart rate

In [31]:
# find start and finish time using max and min
result = df3.groupby('group2').agg({'PST': ['min', 'max']})
result

                       PST
                       min                 max
group2
1      2020-12-10 16:44:16 2020-12-10 16:44:51
2      2020-12-10 16:46:06 2020-12-10 16:46:46
3      2020-12-10 16:48:47 2020-12-10 16:48:52

In [51]:
# difference between start and finish
result['diff'] = result.PST['max']-result.PST['min']

In [34]:
result

                       PST                                diff
                       min                 max
group2
1      2020-12-10 16:44:16 2020-12-10 16:44:51 0 days 00:00:35
2      2020-12-10 16:46:06 2020-12-10 16:46:46 0 days 00:00:40
3      2020-12-10 16:48:47 2020-12-10 16:48:52 0 days 00:00:05

In [41]:
# total time above maximum heart rate as time delta
difference = result['diff'].sum()
difference

Timedelta('0 days 00:01:20')

In [50]:
# total minutes above maximum heart rate (as a decimal)
minutes = difference.total_seconds() / 60
minutes

1.3333333333333333

#### Start and Finish time above max heart rate - alternative group by method

In [ ]:
df['MyColumn'].sum()

In [23]:
result2 = df3.groupby('group2')['PST'].agg(['max','min'])

In [24]:
result2

                       max                 min
group2
1      2020-12-10 16:44:51 2020-12-10 16:44:16
2      2020-12-10 16:46:46 2020-12-10 16:46:06
3      2020-12-10 16:48:52 2020-12-10 16:48:47

In [26]:
result2['diff'] = result2['max']-result2['min']

In [27]:
result2

                       max                 min            diff
group2
1      2020-12-10 16:44:51 2020-12-10 16:44:16 0 days 00:00:35
2      2020-12-10 16:46:46 2020-12-10 16:46:06 0 days 00:00:40
3      2020-12-10 16:48:52 2020-12-10 16:48:47 0 days 00:00:05

In [53]:
# total time above maximum heart rate
difference2 = result2['diff'].sum()
minutes = difference2.total_seconds() / 60
minutes

1.3333333333333333